body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: olive;
}

* {
    box-sizing: border-box;
}

.header {
    border: 1px solid red;
}

.main {
    border: 1px solid red;
}

.footer {
    border: 1px solid red;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav {}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: #004700;
    font-size: 24px;
    transition: .3s;
}

.nav-link:hover {
    background-color: #adff2f;
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}

.section {
    width: 50%;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

.section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: darkolivegreen;
}

.section-item {
    position: relative;
    padding-left: 30px;
}

.section-item::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 10px;
    height: 10px;
    border: 1px solid #004700;
    border-radius: 50%;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.link {
    text-decoration: none;
    color: darkcyan;
    transition: color 0.5s;
}

.link:hover {
    color: darkgray;
}